---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
const { pageTitle } = Astro.props;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "Uppercase";
---
<html lang="en">
  <head>
    <meta charset="utf-8" Content-Type="text/html" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body id="BaseLayout">
    <Header />
    <div class="main-content">
      <h1 class="page-title">{pageTitle}</h1>
      <slot />
    </div>
    
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>

<style is:global define:vars={{skillColor, fontWeight, textCase}} >
  body {padding: 0}
  #BaseLayout {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .main-content {
    flex-grow: 1;
  }
</style>